<div class="footer">
  <ul class="details">
    <li>856-220-1833 |</li>
    <li><a href="mailto:robertfauver@gmail.com">robertfauver@gmail.com</a></li>
  </ul>
  <ul class="social">
    <li><a class="fa fa-2x fa-twitter" href="http://twitter.com/fauverism">&nbsp;</a></li>
    <li><a class="fa fa-2x fa-github-alt" href="https://github.com/fauverism">&nbsp;</a></li>
    <li><a class="fa fa-2x fa-flickr" href="https://www.flickr.com/photos/66806806@N00">&nbsp;</a></li>
    <li><a class="fa fa-2x fa-linkedin" href="https://www.linkedin.com/pub/robert-fauver/7b/8b1/801">&nbsp;</a></li>
    <li><a class="fa fa-2x fa-stack-overflow" href="http://stackoverflow.com/users/721040/fauverism">&nbsp;</a></li>
    <li><a class="fa fa-2x fa-soundcloud" href="https://soundcloud.com/fauverism">&nbsp;</a></li>
  </ul>
</div>
