<div class="footer">
  <ul>
    <li><a class="fa fa-twitter" href="http://twitter.com/fauverism">&nbsp;</a></li>
    <li><a class="fa fa-github-alt" href="https://github.com/fauverism">&nbsp;</a></li>
    <li><a class="fa fa-flickr" href="https://www.flickr.com/photos/66806806@N00">&nbsp;</a></li>
    <li><a class="fa fa-linkedin" href="https://www.linkedin.com/pub/robert-fauver/7b/8b1/801">&nbsp;</a></li>
    <li><a class="fa fa-stack-overflow" href="http://stackoverflow.com/users/721040/fauverism">&nbsp;</a></li>
    <li><a class="fa fa-soundcloud" href="https://soundcloud.com/fauverism">&nbsp;</a></li>
  </ul>
</div>
