<div class="jumbotron">
  <p>intro paragraph</p>
  <h2>The who, what, when, where &amp; how</h2>
  <h2>Professional</h2>
  <h3>Resume</h3>

  <button class="btn btn-md">Txt Download</button>
  <button class="btn btn-md">Word Download</button>
  <button class="btn btn-md">PDF Download</button>
  <hr/>
  <h2>Personal</h2>
  <h3>Stats</h3>
  <p><b>DOB:</b> May 11<sup>th</sup>, 1978</p>
  <p><b>Married:</b> August 11<sup>th</sup>, 2007</p>
  <p><b>Height:</b> 180cm</p>
  <p><b>Hair:</b> Brown &amp; going away</p>
  <p><b>Eyes:</b> Hazel</p>
  <h3>Contact</h3>
  <p><b>Location:</b> Moorestown, NJ 08057</p>
  <p><b>Email:</b> <a href="mailto:robertfauver@gmail.com">robertfauver@gmail.com</a></p>
  <p><b>Phone:</b> Use <a class="btn btn-sm btn-primary" href="https://robertfauver.youcanbook.me/">https://robertfauver.youcanbook.me/</a></p>
</div>
<!--<div class="row">-->
  <!--<div class="col-sm-6">-->
    <!--<h1>Professional</h1>-->
  <!--</div>-->
  <!--<div class="col-sm-6">-->
    <!--<h1>Personal</h1>-->
  <!--</div>-->
<!--</div>-->

<!--
  TODO: cartoons, illustrate

  Photos of where I work
   Photo of me
   intro paragraph
   nice layout
   music, albums that are important to me
    beasties, surfer rosa, jesus & mary chain
  art that I love
  clipart
  companies that I love
  - artypk, dhky
  books that are important to me
  -
   info graphics of css, html & javascript
   resume in JSON

<hr/>
<h1>Thoughts</h1>
- social, phone, reading, writing, inspiration

<h1>Playground</h1>

Personal Section
Timeline
  Interests
    Born
    4-10 > drawing, learning,
    10-13 > comics, skateboarding

Professional Section
  Timeline
  -->
