  <div class="row">
    <div class="col-sm-12">
      <h1>New website for<br />2015</h1>
      <p>In keeping with the tradition of redesigning my website every year, I created a new design for 2015.</p>
      <h3>Design</h3>
      <h3>CSS, HTML &amp; JavaScript</h3>
      - sass
      - html5,
      - evergreen browsers
      -
      <h3>CMS</h3>
      <p>For the past seven years or so I've used Wordpress as the CMS but as of right now</p>
      - art direction plugin by Noel
      - so many files that I'm not sure what
      <h3>The Future</h3>
      data/info graphics
    </div>
  </div>
<!--<div class="row marketing">-->
  <!--
    TODO: Notes Archive
    TODO: Search

    Look for inspiration
  -->
<!--</div>-->
