.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif; }

/* Space out content a bit */
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 72px; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem;
  text-transform: uppercase; }

h4 {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem; }

h5 {
  font-size: 2rem;
  text-transform: uppercase; }

h5 {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter; }

.navbar-brand {
  font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif; }

code {
  font-family: 'Source Sans Pro', sans-serif; }

p, a {
  font-size: 1.4rem; }

a {
  color: #1a2129;
  text-decoration: none; }

a:hover {
  color: #002a80; }

.navbar-brand {
  background-size: 100%;
  font-family: 'Sacramento', cursive;
  font-size: 3.3rem;
  line-height: 40px; }

.navbar-brand-mobile {
  display: none; }

.nav {
  margin: 10px 0 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

.container-narrow > hr {
  margin: 30px 0; }

.logo {
  margin: 40px 0 0;
  width: 480px; }

/* Main marketing message and sign up button */
.jumbotron {
  background: #fff !important;
  border-bottom: 0;
  border-radius: 0 !important;
  color: #444;
  margin: 0; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }
  .jumbotron h1 {
    text-align: center; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Overrides */
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important; }

/*Footer*/
.footer {
  background: 0, 0, 0, 0.1;
  border-top: 1px solid #cccccc;
  color: #777;
  padding-top: 19px;
  text-align: center; }
  .footer ul {
    margin: 0; }
    .footer ul li {
      display: inline-block;
      font-size: 1.3rem;
      text-align: center; }
  .footer p {
    color: #1a2129;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem; }
  .footer a {
    color: teal; }
  .footer a:hover {
    color: #002a80; }

/*Contact*/
.contact .row {
  color: #444; }

@media (min-width: 1024px) {
  .navbar-toggle {
    display: none; } }
/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
    padding: 0; }

  p, a {
    font-size: 1.5rem; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  .navbar-brand {
    display: none; }

  .navbar-brand-mobile {
    display: block;
    font-family: 'Sacramento', cursive;
    font-size: 4rem; } }

/*# sourceMappingURL=main.css.map */
