//$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
//@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//Source+Sans+Pro|Merriweather:400,900,300,700|Merriweather+Sans:400,300,800,700|Sacramento'
//font-family: 'Source Sans Pro', sans-serif;
//font-family: 'Merriweather', serif;
//font-family: 'Merriweather Sans', sans-serif;
//font-family: 'Sacramento', cursive;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif;
}

/* Space out content a bit */
//TODO: use normalize
h1 {
  font-family: 'Sacramento', cursive;
  font-size: 72px;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.8rem;
  text-transform: uppercase;
}
h4 {
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
  text-transform: uppercase;
}
h5 {
  font-family: 'Sacramento', cursive;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
}
.navbar-brand {
  font-family: 'Merriweather', Georgia, "Times New Roman", Times, serif;
}

code {
  font-family: 'Source Sans Pro', sans-serif;
}
p {
  font-size: 1.2rem;
  line-height: 2rem;
}
a {
  color: #1a2129;
  text-decoration: none;
}
a:hover {
  color: #002a80;
}
.navbar-header {
  .logo {
    display: inline-block;
    margin: 10px 0 0;
    width: 100px;
  }
  .navbar-brand {
    background-size: 100%;
    background-color: #073642;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 60px;
    color: #cccccc;
    display: block;
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    line-height: 40px;
    height: 60px;
    margin: 0 0 0 15px;
    padding: 25px 0 0 14px;
    width: 70px;
  }
  .navbar-brand-mobile {
    display: none;
  }
  ul {
    display: block;
    float: right;
    margin: 40px 0 0;
    li {
      display: inline-block;
      margin: 0 0 0 20px;
      a {
        color: rgba(38, 139, 210, 1);
      }
      a:hover {
        color: rgba(108, 113, 196, 1);
      }
    }
  }
}

.pattern {
  background: #f7f7f7;
  border-bottom: 1px solid #808080;
  margin-bottom: 1em;
  overflow: hidden;
}
.pattern-description h1 {
  font-size: 3.4em;
  margin-bottom: 0.5em;
}
.pattern-description {
  max-width: 40em;
  margin: 0 auto;
}
.pattern-description ul, .pattern-description ol {
  margin-bottom: 2em;
}
.pattern-description li {
  margin-bottom: 1em;
}
.g {
  padding: 0.25em;
  overflow: hidden;
}
.g li {
  float: left;
  width: 50%;
  padding: 0.25em;
}
.g img {
  display: block;
}
.g li:nth-child(odd) {
  clear: left;
}

@media screen and (min-width: 40em) {
  .g li {
    width: 33.3333333333333333%;
  }
  .g li:nth-child(3n+1) {
    clear: left;
  }
  .g li:nth-child(odd) {
    clear: none;
  }
}
@media screen and (min-width: 55em) {
  .g li {
    width: 25%;
  }
  .g li:nth-child(4n+1) {
    clear: left;
  }
  .g li:nth-child(3n+1) {
    clear: none;
  }
}
@media screen and (min-width: 72em) {
  .g li {
    width: 20%;
  }
  .g li:nth-child(5n+1) {
    clear: left;
  }
  .g li:nth-child(4n+1) {
    clear: none;
  }
}
@media screen and (min-width: 90em) {
  .g li {
    width: 16.666666666%;
  }
  .g li:nth-child(6n+1) {
    clear: left;
  }
  .g li:nth-child(5n+1) {
    clear: none;
  }
}





.nav {
  margin: 10px 0 0;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background: #fff !important;
  border-bottom: 0;
  border-radius: 0 !important;
  color: #444;
  margin: 0;
//  text-align: center;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  h1 {
    text-align: center;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Overrides */
//Navigation
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

/*Footer*/
.footer {
  background: (0, 0, 0, 0.1);
  border-top: 1px solid #cccccc;
  color: #777;
  ul.details {
    display: inline-block;
    li {
      display: inline-block;
      margin: 4px 0 0;
      text-align: left;
    }
  }
  ul.social {
    display: block;
    float: right;
    margin: 10px 0 0;
    li {
      display: inline-block;
    }
  }
  p {
    color: #1a2129;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.3rem;
  }
  a {
    color: teal;
  }
  a:hover {
    //TODO: do the 3d hover
    color: #002a80;
  }

}

/*Contact*/
.contact {
  .row {
    color: #444;
  }
}

@media (min-width: 1024px) {
  .navbar-toggle {
    display: none;
  }
}

/* Responsive: Portrait tablets and up */
@media only screen and (max-width: 480px) {

}
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
    padding: 0;
  }
  p, a {
    font-size: 1.5rem;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .navbar-brand {
    display: none;
  }
  .navbar-brand-mobile {
    display: block;
    font-family: 'Sacramento', cursive;
    font-size: 4rem;
  }
}

//iPhone 2G-4S in landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) {

}

////iPhone 5 in landscape
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {

}
